@import "./css/normalize";
@import "./css/variables";
@import "./css/functions";
@import "./css/base-before";
@import "./css/base";
@import "./css/base-after";
@import "./css/layout";

html {
    font-family: sans-serif;
}

body {
    background-color: green;
    background-image: url("../img/grass-background.jpg");
}

header {
    position: relative;
    font-family: Funhouse, Comic Sans, sans-serif;
    margin: 0 auto;
    text-align: center;
    background: rgba(252,181,60,255);
    height: auto;

    // Text Shadow
    text-shadow: 0 0.5em 10px;
}

h1,
h2,
p {
    margin: 1em;
}

.circle {
    width: 50%;
    height: auto;
    border-radius: 50%;
}

// Parallax Scrolling
.parallax {
    width: 100%;
    height: 25em;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.container {
    margin: 0 auto;
    padding: 5em 0;

    // Add dirt texture as background image
    background: green;
}

// Images

.harvest-moon-1-jpeg {
    background-image: url("../img/harvest-moon-1.jpeg");
}

.harvest-moon-2-jpeg {
    background-image: url("../img/harvest-moon-2.jpeg");
}

.sos-marriage-candidates {
    background-image: url("../img/sos-marriage-candidates.png");
}

.hm-rivals {
    background-image: url("../img/hm-rivals.png");
}

.stardew-valley {
    background-image: url("../img/stardew-valley.jpeg");
}

.harvest-moon-mfomt {
    background-image: url("../img/harvest-moon-mfomt.gif");
}