@import "./css/normalize";
@import "./css/variables";
@import "./css/functions";
@import "./css/base-before";
@import "./css/base";
@import "./css/base-after";
@import "./css/layout";

// Fonts

@import url('https://fonts.googleapis.com/css2?family=Rock+3D&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #C3CDE0;
    color: #1C1C25;
    font-family: 'Old Standard TT', serif;
}

body {
    max-width: 65%;
    margin: 0 auto;
    padding: 0 1.25rem;
}

header,
footer {
    text-align: center;
}

header {
    font-family: 'Rock 3D', sans-serif;
}

main section p {
    text-align: justify;
}

footer {
    margin-top: 2rem;
}

#github-logo {
    width: 25%;
}

.invisible-link {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

// CSS Hamburger Menu

.container {
    width: 100%;
    margin: auto;
}

.navbar {
    width: 100%;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
}

.navbar .menu-items {
    display: flex;
}
.navbar .nav-container li {
    list-style: none;
}
.navbar .nav-container a:hover {
    font-weight: bolder;
}

.nav-container {
    display: block;
    position: relative;
    height: 60px;
}
.nav-container .checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
}
.nav-container .hamburger-lines {
    display: block;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 17px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.nav-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #566373;
}
.nav-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
}
.nav-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
}
.nav-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
}

.navbar .menu-items {
    padding-top: 120px;
    background-color: #C3CDE0;
    height: 100vh;
    width: 100%;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    transition: transform 0.5s ease-in-out;
    text-align: center;
}
.navbar .menu-items li {
    margin-bottom: 1.2rem;
    font-size: 1.5rem;
    font-weight: 500;
}

.nav-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
}
.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
}
.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
}
.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
}
.nav-container input[type="checkbox"]:checked .logo {
    display: none;
}

.navbar .menu-items li a {
    color: #1C1C25;
    text-decoration: none;
}
 
// Carousel Images

#carousel__slide1,
#carousel__slide2,
#carousel__slide3,
#carousel__slide4,
#carousel__slide5 {
    background-position: center;
    background-repeat: no-repeat;
}

#carousel__slide1 {
    background-image: url(../img/zsh-bash-me.png);
}

#carousel__slide2 {
    background-image: url(../img/commitment.png);
}

#carousel__slide3 {
    background-image: url(../img/parallax-narrative.png);
}

#carousel__slide4 {
    background-image: url(../img/creative-project.png);
}

#carousel__slide5 {
    background-image: url(../img/boilerplate.png);
}

// CSS Carousel

* {
    box-sizing: border-box;
    scrollbar-color: transparent transparent;
    scrollbar-width: 0px;
}
*::-webkit-scrollbar {
    width: 0;
}
*::-webit-scrollbar-track {
    background: transparent;
}
*::-webkit-scrollbar-thumb {
    background: transparent;
    border: none;
}
* {
    -ms-overflow-style: none;
}

ol,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.carousel {
    position: relative;
    padding-top: 75%;
    filter: drop-shadow(0 0 10px #0003);
    perspective: 100px;
}

.carousel__viewport {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    overflow-x: scroll;
    counter-reset: item;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}

.carousel__slide {
    position: relative;
    flex: 0 0 100%;
    width: 100%;
    counter-increment: item;
}
.carousel__slide:before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -40%, 70px);
    color: #FFF;
    font-size: 2em;
}

.carousel__snapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    scroll-snap-align: center;
}

.carousel:hover .carousel__snapper,
.carousel:focus-within .carousel__snapper {
    animation-name: none;
}

.carousel__navigation {
    position: absolute;
    right: 0;
    bottom: -1rem;
    left: 0;
    text-align: center;
}
.carousel__navigation-list,
.carousel__navigation-item {
    display: inline-block;
}
.carousel__navigation-button {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-color: #333;
    background-clip: content-box;
    border-radius: 50%;
    font-size: 0;
    transition: transform 0.1s;
}